{# This is a comment,
 # it's not included in the output. -#}
This is a template that renders the value of two context variables,
`foo' and `bar', but runs custom filters on it :

* foo: {{ foo | prependtest }}
* bar: {{ bar | postpendtest }}
