{# This is a comment,
 # it's not included in the output. -#}
This is a simple template that just renders the value of two context variables,
`foo' and `bar':

* foo: {{ foo | pprint }}
* bar: {{ bar | pprint }}
